header {
    padding:0;
    background-color: black;
}

section {
    padding: 20px;
}

.avatar {
     float:left;
    height: 200px;
    width: 200px;
    padding: 0;
   
}

.username {
    line-height:200px;
    padding-left: 30px;
}

.logo{
    float:none;
    max-width: 100%;
    height: auto;
}

.title{
    line-height:74px;
    
    
}

.cover{
    float:left;
    
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}